

/* Animation */
$animation-slide-in-timing: cubic-bezier(.1,.97,.22,1);

/* Portal */
$portal-mdl-textfield-label-color: #555;
$portal-mdl-card-background-color: #ccc;
$portal-mdl-card-logo-url: url("images/dmsf_logo2.png");

/* Theme color picker */
$theme-primary: rgb(21, 41, 47);
$theme-secondary: rgb(163, 5, 8);

$html-background-image-blend-mode-lighten-color: rgba(255, 255, 255, 0.267);
$html-is-background-size-explicit: false;
$html-background-image-opacity: 0.3;

/* body */
$body-font-color: #333;
$body-font-family: 'Open Sans', sans-serif;

/* Page settings */
$link-color-hover-focus: rgb(224, 69, 69);

/* Sidebar */
$sidebar-width: 230px;

$sidebar-font-family: 'Lato', sans-serif;
$sidebar-font-color: #ddd;
$sidebar-link-padding-top-bottom: 10px 15px;

$sidebar-logo-url: url("images/dmsf_logo2.png");

$sidebar-toolbar-scroller-thumb-background-color: rgba(215, 25, 33, .8);
$sidebar-toolbar-font-color: #ddd;
$sidebar-toolbar-font-hover-color: orange;
$sidebar-toolbar-font-icon-signout-hover-color: #ff4812;

$sidebar-after-image-url: url();
$sidebar-after-image-bluriness: 0px;
$sidebar-after-image-opacity: 0.35;

$sidebar-footer-image-url: url('images/syntrinos_logo.png');

$sidebar-mobile-expand-button-margin-top: 25px;

/* Container */
$container-main-desktop-padding-left-right: 25px;
$container-main-mobile-padding-left-right: 10px;

/* Input */
$font-error-color: #e80c4d;
$input-textbox-background-color: rgb(255, 255, 255);
$input-textbox-border-color : #c0c0c0;

/* Dropdown */
$input-focus-border-color: #053341;

/* Validation */
$validation-header-error-border-color: #ffa7a7;
$validation-header-error-background-color: #ffe7e7;



/* Add your custom page variables here */
/* Pages */
/* Dashboard */
$page-dashboard-img-logo: url("images/dmsf_logo2.png");

@import '../_application.scss';